<h1>Rants</h1>

<h2>Create a new rant!</h2>

{{input value=title}}
<p>{{title}}</p>

{{input value=body}}
<p>{{body}}</p> 

<p> Count: {{charCount}} </p>
<button {{action 'createRant'}} class="btn-submit">Submit</button>

{{#each rant in model itemController="rant"}}
  {{#if rant.isEditing}}
    <h2>
      {{input value=rant.title}}
      {{rant.title}}
    </h2>
    <p>
      {{input value=rant.body}}
      {{rant.body}}
    </p>
    <button {{action 'deleteRant' rant}} class="btn-delete">Delete</button>
    <button {{action 'saveRant' rant}} class="btn-edit">Save</button>
  {{else}}
    <h2>
      {{rant.title}}
    </h2>
    <p>
      {{rant.body}}
    </p>
    <button {{action 'deleteRant' rant}} class="btn-delete">Delete</button>
    <button {{action 'editRant' rant}} class="btn-edit">Edit</button>
  {{/if}}
{{/each}}

{{outlet}}
