<h1>Rants</h1>

<h2>Create a new rant!</h2>
{{input value=title}}
{{input value=body}}
<p>
  Count: {{charCount}}
</p>
<button {{action 'createRant'}} class="btn-submit">Submit</button>

{{#each}}
  <h2>
    {{title}}
  </h2>
  <p>
    {{body}}
  </p>
  <button {{action 'deleteRant' this}} class="btn-delete">Delete</button>
{{/each}}

{{outlet}}
